header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    max-width: 1400px;
    text-decoration: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    margin: 0 auto;
}
#titulo{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 960px;
}
.inicio{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    list-style: none;
    padding: 25px;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
}
.box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    padding: 20px;
    margin: 10px; 
}
.img-container{
    position: relative;
}
.box .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.box:hover .img-hover{
    opacity: 1;
}
.box .precio{
    position: relative;
    bottom: 30px;
    left: 10px;
    background-color: #fff;
    transition: all 0,4s ease-in-out;

}
.box:hover .precio{
    background-color: black;
    color: #fff;
    bottom: 45px;
}
.box .precio p{
    margin: 0;
    font-size: 0.7em;
}
img{
    border-radius: 5%;
}
.inicio li{
    padding: 15px;
}
.precio{
    width: 53px;
}
.box img{
    width: 100%;
}
.box:hover .precio{
    bottom: 45px;
}
.inicio a{
    text-decoration: none;
}
.boton{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    padding: 5px; /*margen interior*/
    border-radius: 15px;
    font-size: 1.2em;
    display: inline-block;
}
.box .corazon{
    position: absolute;
    top: 20px;
    right: 20px;
}
#foot{
    text-align: center;
}
#redes{
    text-align: center;
}
#redes li{
    display: inline-block;
}
.redes{
    display: inline-block;
    margin: 20px;
}
footer img{
    width: 60%;
}